li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.container-footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bs-docs-footer {
    /**padding-top: 50px;**/
    /**padding-bottom: 50px;**/
    margin-bottom: 0px;
    color: #99979c;
    text-align: left;
    background-color: #2a2730;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer a {
    color: #fff;
}